name: CI Pipe

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'ImageCaptioning/**'
      - 'SequenceLabeling/**'
      - 'MachineTranslation/**'
      - 'ObjectDetection/**'
      - 'SuperResolution/**'
      - 'TextClassification/**'
  push:
    branches: [ "main" ]
    paths:
      - 'ImageCaptioning/**'
      - 'SequenceLabeling/**'
      - 'MachineTranslation/**'
      - 'ObjectDetection/**'
      - 'SuperResolution/**'
      - 'TextClassification/**'

permissions:
  contents: read

jobs:
  pylint-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Analysing the ImageCaptioning code with pylint
      run: |
        pylint ImageCaptioning --rcfile=.github/pylint.conf
    # - name: Analysing the ObjectDetection code with pylint
    #   run: |
    #     pylint ObjectDetection --rcfile=.github/pylint.conf
    - name: Analysing the SequenceLabeling code with pylint
      run: |
        pylint SequenceLabeling --rcfile=.github/pylint.conf
    # - name: Analysing the TextClassification code with pylint
    #   run: |
    #     pylint TextClassification --rcfile=.github/pylint.conf
    # - name: Analysing the MachineTranslation code with pylint
    #   run: |
    #     pylint MachineTranslation --rcfile=.github/pylint.conf
    # - name: Analysing the SuperResolution code with pylint
    #   run: |
    #     pylint SuperResolution --rcfile=.github/pylint.conf
